ITMO.HTML&XMLCourses2023/XML Labs/Lab2/Ex1_lesson_DTD.dtd

<!ELEMENT TimeTable (subject+)>
<!ELEMENT subject (SubjectName, TeacherName, TeacherLastName, TeacherPatronymicName, Hours, StartDate, FinalDate, FinalGrade)> 
<!ELEMENT SubjectName (#PCDATA)> 
<!ELEMENT TeacherName (#PCDATA)> 
<!ELEMENT TeacherLastName (#PCDATA)>
<!ELEMENT TeacherPatronymicName (#PCDATA)>
<!ELEMENT Hours (#PCDATA)> 
<!ELEMENT StartDate (#PCDATA)>
<!ELEMENT FinalDate (#PCDATA)> 
<!ELEMENT FinalGrade (#PCDATA)>
